/* Code Mirror css */
@import "./codemirror.css";
/* Split Pane resizers */
@import "./resizer.scss";


@mixin blur($distance, $opacity) {
  -webkit-box-shadow: 0px 0px $distance 0px rgba(22, 22, 22, $opacity);
  -moz-box-shadow:    0px 0px $distance 0px rgba(22, 22, 22, $opacity);
  box-shadow:         0px 0px $distance 0px rgba(22, 22, 22, $opacity);
}

@mixin noSelect() {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

@mixin center() {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#app-container {
  @include center();
}

/* Input screen */
#inputscreen {
  font-size: 13px;
}


/* Result screen */
#resultscreen {
  font-size: 13px;
}

/* history screen */
#historyscreen {
  @include center();
  @include blur(5px, 0.5);
  padding: 15px;
}

#item-list-container {
  display: flex;
  flex: 1;
  flex-wrap: nowrap;
  max-width: 100vw;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

/* Individual History Items */
.history-item {
  width: 175px;
  font-size: 8px;
  flex: 0 0 auto;
  
  .CodeMirror {
    @include noSelect();
    cursor: pointer !important;
  }

  .CodeMirror:hover {
    border: 1px solid #999;
  }
  
  .CodeMirror-line {
    cursor: pointer !important;
  }
}